Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/MetaHumans/Ettore/Face/Ettore_FaceMesh.uasset
Content/MetaHumans/Common/Face/Face_Archetype.uasset
Content/MetaHumans/Ettore/*
!Content/MetaHumans/Ettore/Male/Medium/NormalWeight/Body/m_med_nrw_body.uasset